.header {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  padding: 0.7em 5em;
  position: fixed;
  top: 0;
  background: #f7f8f9;
  box-shadow: 0 1px 7px rgba(86, 86, 86, 0.3);
  z-index: 100;
}

.logo {
  width: 3em;
}

/* Location */

.location {
  width: 21%;
  display: flex;
  align-items: center;
  position: relative;
  left: 1.5em;
}

.location .fa-search {
  font-size: 1.5em;
  margin-left: 0.7em;
  z-index: 10;
}

.location #set-location {
  width: 100%;
  height: 3em;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  padding-left: 3.5em;
  font-size: 1em;
  box-sizing: border-box;
  color: #5f7d80;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  font-family: var(--font-1);
}

.location .fa-chevron-down {
  font-size: 1.3em;
  z-index: 10;
  font-weight: 700;
  position: absolute;
  right: 1em;
  pointer-events: none;
}

/* Location ends */

/* Search */
.search {
  height: 3em;
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  left: 2.5em;
}

.search #search-bar {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1em;
  position: absolute;
  padding-left: 1em;
  font-size: 1em;
  box-sizing: border-box;
  color: #5f7d80;
  outline: none;
  font-family: var(--font-1);
}

.search #search-bar:focus,
.location #set-location:focus {
  border: 2px solid var(--border-color);
  transition: 400ms;
}

/* .location #set-location:focus ~ .fa-chevron-down {
  transform: rotate(180deg);
  transition: 400ms;
} */
.search .icon {
  position: absolute;
  width: 10%;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  z-index: 10;
  background: var(--color-1);
  border-radius: 0 5px 5px 0;
}

.search .icon i {
  font-size: 1.5em;
  color: #fff;
}

/* Search ends */

/* Login */
.login_header-title {
  max-width: 10em;
  font-size: 1em;
  margin-left: 1.5em;
  border-bottom: 2px solid var(--color-1);
  color: var(--color-1);
  cursor: pointer;
  font-family: var(--font-1);
}

.loggedin_indication{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--color-1);
  margin-left: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-family: var(--font-1);
  font-weight: 700;
  color: #fff;
}
/* Login ends */

/* Sell */

.sell {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  border: 5px solid var(--color-2);
  padding: 0.3em 1em;
  margin-left: 1em;
  box-shadow: 0 2px 5px var(--shadow-color);
  position: relative;
  cursor: pointer;
}

.sell .sell-h2 {
  font-size: 1em;
  margin-left: 0.3em;
  text-transform: uppercase;
  color: var(--color-1);
  font-family: var(--font-1);
}

.sell i {
  color: var(--color-1);
}

/* Sell ends */
